extends layout

block content
  .login-panel 
    img(src="img/login-img.jpg", alt="") 
    include ./includes/login-form 
  .register-panel 
    img(src="img/register-img.png", alt="")
    include ./includes/register-form